### Managed Legacy Servers Parameters
# For more information refere to https://github.com/pintostack/core

source conf/source.global

# All variables add below
# vagrant plugin install vagrant-managed-server

RESOURCE_PROVIDER='managed'
VPC_IF='eth0'
SSH_KEY_FILE='/home/some_user/.ssh/id_rsa'

MANAGED_SSH_USERNAME='ubuntu'
MANAGED_SSH_PASSWORD='ubuntu'
MANAGED_MASTER_1="localhost"
MANAGED_SLAVE_1="192.168.10.149"
MANAGED_SLAVE_2="my-super-server.somewhere-in-inter.net"
