### VirtualBox Parametrs
# For more information refere to https://github.com/pintostack/core

source conf/source.global

# All variables add below

RESOURCE_PROVIDER='virtualbox'
VPC_IF='eth1'
#SSH_KEY_FILE='~/.ssh/id_rsa'

VBOX_SIZE=1024
