{
    "Name": "docker-proxy",
    "ID": "docker-proxy",
    "Address": "{{ local_ip }}",
    "Port": 5001,
    "Check": {
       "Script": "curl -s localhost:5001/v2/_catalog",
       "Interval": "10s"
        	 }
}
