#!/usr/bin/env ruby
# -*- mode: ruby -*-
# vi: set ft=ruby :

MASTERS = __masters_count
SLAVES = __slaves_count

#Vagrant.require_plugin 'vagrant-aws'
#Vagrant.require_plugin 'vagrant-digital_ocean'
#Vagrant.require_plugin 'vagrant-cachier'

Vagrant.configure(2) do |config|
  config.vm.network "private_network", type: :dhcp
  config.vm.hostname = 'default-host-delete-me'
  config.vm.box = "ubuntu/trusty64"
  config.vm.synced_folder ".", "/vagrant", disabled: true

  (1..MASTERS).each do |i|
    name = "master-#{i}"
    config.vm.define name do |instance|
    instance.vm.hostname = name # Name in web console DO
    instance.vm.provision :ansible do |ansible|
          ansible.playbook = "playbook.yml"
    end
    instance.vm.provider :digital_ocean do |digital_ocean, override|
          digital_ocean.token = '__do_token'
          digital_ocean.image = '__do_image'
          digital_ocean.region = '__do_region'
          digital_ocean.size = '__do_size'
          digital_ocean.private_networking = true
          override.ssh.private_key_path = '__ssh_key_path'
          override.vm.box = 'digital_ocean'
          override.vm.box_url = "https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box"
    end
    instance.vm.provider :aws do |aws, override|
          aws.access_key_id = '__aws_key_id'
          aws.secret_access_key = '__aws_access_key'
          aws.keypair_name = '__aws_keypair_name'
          aws.tags = {
          'Name' => name,
          'Description' => 'This instance is a part of PintoStack installation you can find https://github.com/pintostack/core.'
          }
          aws.ami = '__aws_ami'
          aws.instance_type = '__aws_instance_type'
          aws.region = '__aws_region'
          aws.security_groups = '__aws_security_groups'
          override.ssh.username = '__aws_username'
          override.vm.box = 'aws'
          override.vm.box_url ="https://github.com/mitchellh/vagrant-aws/raw/master/dummy.box"
          override.ssh.private_key_path = '__ssh_key_path'
    end
    instance.vm.provider :virtualbox do |virtualbox|
          virtualbox.name = name
          virtualbox.gui = false
          virtualbox.memory = '__vbox_size'
          virtualbox.cpus = 2
     end
    end
  end
  
  (1..SLAVES).each do |i|
    name = "slave-#{i}"
    config.vm.define name do |instance|
    instance.vm.hostname = name # Name in web console DO
    instance.vm.provision :ansible do |ansible|
          ansible.playbook = "playbook.yml"
    end
    instance.vm.provider :digital_ocean do |digital_ocean, override|
        digital_ocean.token = '__do_token'
        digital_ocean.image = '__do_image'
        digital_ocean.region = '__do_region'
        digital_ocean.size = '__do_size'
        digital_ocean.private_networking = true
        override.ssh.private_key_path = '__ssh_key_path'
        override.vm.box = 'digital_ocean'
        override.vm.box_url = "https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box"
    end
    instance.vm.provider :aws do |aws, override|
          aws.access_key_id = '__aws_key_id'
          aws.secret_access_key = '__aws_access_key'
          aws.keypair_name = '__aws_keypair_name'
          aws.tags = {
          'Name' => name,
          'Description' => 'This instance is a part of PintoStack installation you can find https://github.com/pintostack/core.'
          }
          aws.ami = '__aws_ami'
          aws.instance_type = '__aws_instance_type'
          aws.region = '__aws_region'
          aws.security_groups = '__aws_security_groups'
          override.ssh.username = '__aws_username'
          override.vm.box = 'aws'
          override.vm.box_url ="https://github.com/mitchellh/vagrant-aws/raw/master/dummy.box"
          override.ssh.private_key_path = '__ssh_key_path'
    end
    instance.vm.provider :virtualbox do |virtualbox|
          virtualbox.name = name
          virtualbox.gui = false
          virtualbox.memory = '__vbox_size'
          virtualbox.cpus = 2
     end
    end
  end

  name = "docker-registry"
  config.vm.define name do |instance|
    instance.vm.hostname = name # Name in web console DO
    instance.vm.provision :ansible do |ansible|
          ansible.playbook = "playbook.yml"
    end
    instance.vm.provider :digital_ocean do |digital_ocean, override|
        digital_ocean.token = '__do_token'
        digital_ocean.image = '__do_image'
        digital_ocean.region = '__do_region'
        digital_ocean.size = '__do_size'
        digital_ocean.private_networking = true
        override.ssh.private_key_path = '__ssh_key_path'
        override.vm.box = 'digital_ocean'
        override.vm.box_url = "https://github.com/smdahlen/vagrant-digitalocean/raw/master/box/digital_ocean.box"
    end
    instance.vm.provider :aws do |aws, override|
          aws.access_key_id = '__aws_key_id'
          aws.secret_access_key = '__aws_access_key'
          aws.keypair_name = '__aws_keypair_name'
          aws.tags = {
          'Name' => name,
          'Description' => 'This instance is a part of PintoStack installation you can find https://github.com/pintostack/core.'
          }
          aws.ami = '__aws_ami'
          aws.instance_type = '__aws_instance_type'
          aws.region = '__aws_region'
          aws.security_groups = '__aws_security_groups'
          override.ssh.username = '__aws_username'
          override.vm.box = 'aws'
          override.vm.box_url ="https://github.com/mitchellh/vagrant-aws/raw/master/dummy.box"
          override.ssh.private_key_path = '__ssh_key_path'
    end
    instance.vm.provider :virtualbox do |virtualbox|
          virtualbox.name = name
          virtualbox.gui = false
          virtualbox.memory = '__vbox_size'
          virtualbox.cpus = 2
    end
  end
end
