{
  "datacenter": "{{ consul_conf_datacenter }}",
{% if consul_conf_bootstrap %}
  "bootstrap": true,
{% endif %}
{% if consul_install_webui %}
  "ui_dir": "{{ consul_webui_path }}",
{% endif %}
  "ports": {
    "dns": {{ consul_port_dns }},
    "http": {{ consul_port_http }},
    "https": {{ consul_port_https }},
    "rpc": {{ consul_port_rpc }},
    "serf_lan": {{ consul_port_serf_lan }},
    "serf_wan": {{ consul_port_serf_wan }},
    "server": {{ consul_port_server }}
  },
  "bind_addr": "{{ consul_conf_bind_addr }}",
  "client_addr": "{{ consul_conf_client_addr }}",
  "data_dir": "{{ consul_conf_data_dir }}",
  "log_level": "{{ consul_conf_log_level }}",
  "node_name": "{{ consul_conf_node_name }}",
  "server": {{ (consul_install_mode == 'server') | to_json }},
  "leave_on_terminate": {{ consul_conf_leave_on_terminate | to_json }},
{% if consul_conf_start_join|length > 0 %}
  "retry_join": {{ consul_conf_start_join | to_json }},
  "bootstrap_expect": {{ (consul_servers|length)//2+1 }},
{% endif %}
  "disable_update_check": {{ consul_conf_disable_update_check | to_json }}
}

