{
    "Name": "docker-registry",
    "ID": "docker-registry",
    "Address": "{{ local_ip }}",
    "Port": 5000,
    "Check": {
       "Script": "curl docker-registry.service.consul:5000/v2/_catalog",
       "Interval": "10s"
             }
}
